
<div id="legend">
  <h4> Status Legend </h4>
  <ul>
    
    <li>
      <img class="sym" src="/images/icons/fugue/cross-circle.png" alt="">
      <p>The service is currently down</p>
    </li>
    
    <li>
      <img class="sym" src="/images/icons/fugue/tick-circle.png" alt="">
      <p>The service is up</p>
    </li>
    
    <li>
      <img class="sym" src="/images/icons/fugue/exclamation.png" alt="">
      <p>The service is experiencing intermittent problems</p>
    </li>
    
    <li>
      <img class="sym" src="/images/icons/iconic/pen.png" alt="">
      <p>The web service is under-going maintenance</p>
    </li>
    
  </ul>
</div>



      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <ul class="left">
        <li>
          
          <a href="/admin">Admin</a>
        </li>
        
        <li>
          <a href="/documentation">API</a>
        </li>
        <li>&copy; 2010-2013 <a href="http://www.twilio.com">Twilio Inc.</a></li>
      </ul>
      <ul class="right">
        <li id="powered"><a href="http://www.stashboard.org">POWERED BY <img src="/images/poweredbystash.png" alt="stash!" /> STASHBOARD</a></li>
      </ul>
    </div>
    
    
  </body>
</html>
