<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stashboard</title>
    <link rel="stylesheet" href="templates/stash/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="templates/stash/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="templates/stash/gh-buttons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="templates/stash/font-awesome.css" type="text/css" media="screen" />
    
    
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="actions button-container">
          <a href="/rss" class="button pill big" title="Subscribe to the RSS feed">Feeds</a>          
          <a href="mailto:help@stashboard.org" class="button pill big">Report an Issue</a>
        </div>        
        <a href="/"><h1 id="title">Your company's name</h1></a>
      </div>
      <div id="content">